{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {% trans %}huh.pwa.backend.control.headline{% endtrans %}
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
    <div id="tl_buttons">
        <a href="{{ backendBackRoute }}" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">Zurück</a>
    </div>
    <div class="tl_listing_container">
        <h2 class="tl_header pwaBackend">Authentifizierung (VAPID-Keys)</h2>
        <br/>
        {% if vapidkeys|default %}

            <p>Ihre Server-VAPID-Keys zur Authentifizierung von Push-Benachrichtigungen.</p>
            <p>
                Public: {{ vapidkeys.publicKey }}<br>
                Private: {{ vapidkeys.privateKey }}
            </p>
        {% else %}
            <p>Es wurden keine Schlüssel hinterlegt. Wenn Sie Web Notifications nutzen möchten, müssen Sie diese in der Konfiguration hinterlegen (Informationen dazu in der README). Sie können diese Schlüssel nutzen:</p>
            <p>
                Public: {{ generatedKeys.publicKey }}<br>
                Private: {{ generatedKeys.privateKey }}</p>
        {% endif %}

        <h2 class="tl_header pwaBackend">Notifications</h2>
        <p><button id="huhPwaSendPushNotificationButton" class="tl_submit">Send unsend push notifications</button></p>
        <p id="huhPwaSendPushNotificationStatus"></p>

        <h2 class="tl_header pwaBackend">Files</h2>
        <p>Rebuild manifest and serviceworker files</p>
        <p><button id="huhPwaRebuildFilesButton" class="tl_submit">Rebuild files</button></p>
        <p id="huhPwaRebuildFilesStatus"></p>

    </div>

    <script rel="script">
        window.addEvent('domready', function() {
            if (null != (sendButton = document.querySelector('#huhPwaSendPushNotificationButton')))
            {
                console.log("Found button");
                sendButton.addEventListener('click', function(event) {
                    let button = event.srcElement;
                    HuhPwaBackend.unsentCountRoute = '{{ unsentNotificationRoute }}';
                    HuhPwaBackend.sendNotificationRoute = '{{ sendNotificationRoute }}';
                    HuhPwaBackend.sendPushNotifications(button);
                })
            }
            if (null != (button = document.querySelector('#huhPwaRebuildFilesButton')))
            {
                console.log("Found button");
                button.addEventListener('click', function(event) {
                    HuhPwaBackend.findPagesRoute = '{{ findPagesRoute }}';
                    HuhPwaBackend.updatePageRoute = '{{ updatePageRoute }}';
                    HuhPwaBackend.rebuildFiles();
                })
            }
        });
    </script>
{% endblock %}