{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {% trans %}huh.pwa.backend.control.headline{% endtrans %}
{% endblock %}

{% block main %}
    <div class="tl_listing_container">
        <p><h2>Authentifizierung (VAPID-Keys)</h2></p>
        {% if vapidkeys|default %}
            <p>Ihre Server-VAPID-Keys zur Authentifizierung von Push-Benachrichtigungen.</p>
            <p>
                Public: {{ vapidkeys.publicKey }}<br>
                Private: {{ vapidkeys.privateKey }}
            </p>
        {% else %}
            <p>Es wurden keine Schlüssel hinterlegt. Wenn Sie Web Notifications nutzen möchten, müssen Sie diese in der Konfiguration hinterlegen (Informationen dazu in der README). Sie können diese Schlüssel nutzen:</p>
            <p>
                Public: {{ generatedKeys.publicKey }}<br>
                Private: {{ generatedKeys.privateKey }}</p>
        {% endif %}

        <p><h2>Notifications</h2></p>
        <p><button id="huhPwaSendPushNotificationButton">Send unsend push notifications</button></p>
        <p id="huhPwaSendPushNotificationStatus"></p>

        <p><h2>Files</h2></p>
        <p>Rebuild manifest and serviceworker files</p>
        <p><button id="huhPwaRebuildFilesButton">Rebuild files</button></p>
        <p id="huhPwaRebuildFilesStatus"></p>

    </div>

    <script rel="script">
        window.addEvent('domready', function() {
            if (null != (sendButton = document.querySelector('#huhPwaSendPushNotificationButton')))
            {
                console.log("Found button");
                sendButton.addEventListener('click', function(event) {
                    let button = event.srcElement;
                    HuhPwaBackend.unsentCountRoute = '{{ unsentNotificationRoute }}';
                    HuhPwaBackend.sendNotificationRoute = '{{ sendNotificationRoute }}';
                    HuhPwaBackend.sendPushNotifications(button);
                })
            }
            if (null != (button = document.querySelector('#huhPwaRebuildFilesButton')))
            {
                console.log("Found button");
                button.addEventListener('click', function(event) {
                    HuhPwaBackend.findPagesRoute = '{{ findPagesRoute }}';
                    HuhPwaBackend.updatePageRoute = '{{ updatePageRoute }}';
                    HuhPwaBackend.rebuildFiles();
                })
            }
        });
    </script>
{% endblock %}