{% extends "@Contao/be_main" %}



{% block main_content %}
    {% if messages|default %}
        {{ messages|raw }}
    {% endif %}
    <div id="tl_buttons">
        <a href="{{ backend_back_route }}" class="header_back" title="" accesskey="b"
           onclick="Backend.getScrollOffset()">Zurück</a>
    </div>

    {% if web_push|default %}
        <div class="maintenance_inactive">
            <h2 class="sub_headline">{{ 'huh.pwa.backend.control.authentication'|trans }}</h2>
            <div class="tl_tbox">
                {% if vapid_keys|default %}
                    <p>Ihre Server-VAPID-Keys zur Authentifizierung von Push-Benachrichtigungen.</p>
                    <figure>
                        <figcaption><strong>Public</strong></figcaption>
                        <pre><code>{{ vapid_keys.publicKey }}</code></pre>
                    </figure>
                    <br>
                    <figure>
                        <figcaption><strong>Private</strong></figcaption>
                        <pre><code>{{ vapid_keys.privateKey }}</code></pre>
                    </figure>
                {% elseif generated_keys|default %}
                    <p>Es wurden keine Schlüssel hinterlegt. Wenn Sie Web Notifications nutzen möchten, müssen Sie diese
                        in der Konfiguration hinterlegen (Informationen dazu in der README). Sie können diese Schlüssel
                        nutzen:</p>
                    <figure>
                        <figcaption><strong>Public</strong></figcaption>
                        <pre><code>{{ generated_keys.publicKey }}</code></pre>
                    </figure>
                    <br>
                    <figure>
                        <figcaption><strong>Private</strong></figcaption>
                        <pre><code>{{ generated_keys.privateKey }}</code></pre>
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="maintenance_inactive">
            <h2 class="sub_headline">{{ 'huh.pwa.backend.control.notifications'|trans }}</h2>
            <div class="tl_tbox">
                <p>
                    <button id="huhPwaSendPushNotificationButton"
                            class="tl_submit"
                            type="button"
                            data-unsent-count-route="{{ unsent_notifications_route }}"
                            data-send-notifications-route="{{ send_notifications_route }}">Send unsend push notifications
                    </button>
                </p>
                <p id="huhPwaSendPushNotificationStatus"></p>
            </div>
        </div>
    {% endif %}
    <div class="maintenance_inactive">
        <h2 class="sub_headline">{{ 'huh.pwa.backend.control.files'|trans }}</h2>
        <div class="tl_tbox">
            <p>Rebuild manifest and serviceworker files</p>
            <p>
                <button id="huhPwaRebuildFilesButton"
                        class="tl_submit"
                        type="button"
                        data-find-pages-route="{{ find_pages_route }}"
                        data-update-page-route="{{ update_page_route }}"
                        data-request-token="{{ request_token }}">Rebuild files</button>
            </p>
            <p id="huhPwaRebuildFilesStatus"></p>
        </div>
    </div>

    <div class="maintenance_inactive">
        <h2 class="sub_headline">{{ 'huh.pwa.backend.control.version'|trans }}</h2>
        <div class="tl_tbox">
            <p>{{ installed_version }}</p>
            <p>{{ 'backend.admin.installed_version_notice'|trans([], 'huh_pwa')|raw }}</p>
        </div>
    </div>

{#    <div class="tl_listing_container">#}
{#        Test#}
{#    </div>#}
{% endblock %}
