{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {% trans %}huh.pwa.backend.control.headline{% endtrans %}
{% endblock %}

{% block error %}{% endblock %}

{% block main %}
    {% if messages|default %}
        {{ messages|raw }}
    {% endif %}
    <div id="tl_buttons">
        <a href="{{ backendBackRoute }}" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">Zurück</a>
    </div>

    {% if webPush|default %}
    <div class="maintenance_inactive">
        <h2 class="sub_headline">{{ 'huh.pwa.backend.control.authentication'|trans }}</h2>
        <div class="tl_tbox">
        {% if vapidkeys|default %}
            <p>Ihre Server-VAPID-Keys zur Authentifizierung von Push-Benachrichtigungen.</p>
            <figure>
                <figcaption><strong>Public</strong></figcaption>
                <pre><code>{{ vapidkeys.publicKey }}</code></pre>
            </figure>
            <br>
            <figure>
                <figcaption><strong>Private</strong></figcaption>
                <pre><code>{{ vapidkeys.privateKey }}</code></pre>
            </figure>
        {% elseif generatedKeys|default %}
            <p>Es wurden keine Schlüssel hinterlegt. Wenn Sie Web Notifications nutzen möchten, müssen Sie diese in der Konfiguration hinterlegen (Informationen dazu in der README). Sie können diese Schlüssel nutzen:</p>
            <figure>
                <figcaption><strong>Public</strong></figcaption>
                <pre><code>{{ generatedKeys.publicKey }}</code></pre>
            </figure>
            <br>
            <figure>
                <figcaption><strong>Private</strong></figcaption>
                <pre><code>{{ generatedKeys.privateKey }}</code></pre>
            </figure>
        {% endif %}
        </div>
    </div>
    <div class="maintenance_inactive">
        <h2 class="sub_headline">{{ 'huh.pwa.backend.control.notifications'|trans }}</h2>
        <div class="tl_tbox">
            <p><button id="huhPwaSendPushNotificationButton" class="tl_submit">Send unsend push notifications</button></p>
            <p id="huhPwaSendPushNotificationStatus"></p>
        </div>
    </div>
    {% endif %}
    <div class="maintenance_inactive">
        <h2 class="sub_headline">{{ 'huh.pwa.backend.control.files'|trans }}</h2>
        <div class="tl_tbox">
            <p>Rebuild manifest and serviceworker files</p>
            <p><button id="huhPwaRebuildFilesButton" class="tl_submit">Rebuild files</button></p>
            <p id="huhPwaRebuildFilesStatus"></p>
        </div>
    </div>

    <div class="tl_listing_container">



    </div>

    <script rel="script">
        window.addEvent('domready', function() {
            if (null != (sendButton = document.querySelector('#huhPwaSendPushNotificationButton')))
            {
                console.log("Found button");
                sendButton.addEventListener('click', function(event) {
                    let button = event.srcElement;
                    HuhPwaBackend.unsentCountRoute = '{{ unsentNotificationRoute }}';
                    HuhPwaBackend.sendNotificationRoute = '{{ sendNotificationRoute }}';
                    HuhPwaBackend.sendPushNotifications(button);
                })
            }
            if (null != (button = document.querySelector('#huhPwaRebuildFilesButton')))
            {
                console.log("Found button");
                button.addEventListener('click', function(event) {
                    HuhPwaBackend.findPagesRoute = '{{ findPagesRoute }}';
                    HuhPwaBackend.updatePageRoute = '{{ updatePageRoute }}';
                    HuhPwaBackend.rebuildFiles();
                })
            }
        });
    </script>
{% endblock %}