{% extends "@Contao/content_element/pwa_push_subscription_popup.html.twig" %}

{% block modal_content %}
    {{ block('content', '@Contao/content_element/text.html.twig') }}
    {{ include('@Contao/component/_pwa_subscribe_button.html.twig') }}
{% endblock %}

{% block modal %}
    <div class="modal fade {{ modelCssClasses|default }}" id="{{ model_css_id }}" tabindex="-1"
         aria-labelledby="{{ model_css_id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% block modal_header %}
                    {% if headline.text %}
                        <div class="modal-header">
                            {{ block('headline_component') }}
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endblock %}
                <div class="modal-body">
                    {{ block('modal_content') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                            data-dismiss="modal">
                        {{ 'MSC.close'|trans(domain: 'contao_default') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block open_modal_js %}
    <script nonce="{{ csp_nonce('script-src') }}">
        function open(popupElement) {
            popupElement = popupElement || document.getElementById('{{ model_css_id }}');
            if (!popupElement) return;

            const modal = bootstrap.Modal || Modal;
            if (!modal) {
                console.error('Bootstrap Modal not found');
                return;
            }

            const modalInstance = new modal(popupElement, {
                backdrop: false,
            });
            modalInstance.show();
        }
    </script>
{% endblock %}

{% block style %}
{% endblock %}